<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB86p2zgomkD_zJLfJaqa8nyUjYOCMg2JU</string>
	<key>GCM_SENDER_ID</key>
	<string>292469092681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lojatecharchitectures.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>inventur-9779b</string>
	<key>STORAGE_BUCKET</key>
	<string>inventur-9779b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292469092681:ios:037762bf9209ecd3772a98</string>
</dict>
</plist>